<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>DetectCrash eXtreme</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <h1></h1>
  <button ion-button class="start-btn" (click)="start()">TRACK ME</button>
</ion-content>
