page-home {
  .wypad {
    position: absolute;
    bottom: 2vh;
  }
  .scroll-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .start-btn{
    border-radius: 50%;
    height: 140px;
    width: 140px;
    animation: pulseBlue 2s infinite;
    position: absolute;
  }

  .button-md-danger {
    animation: pulseRed 2s infinite;

  }
}

@keyframes pulseBlue {
  0% {
    box-shadow: 0 0 0 0 rgba(map-get($colors, primary), 0.4);
  }
  70% {
    box-shadow: 0 0 0 50px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }

}

@keyframes pulseRed {
  0% {
    box-shadow: 0 0 0 0 rgba(map-get($colors, danger), 0.4);
  }
  70% {
    box-shadow: 0 0 0 50px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

