<ion-header>
    
      <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>DetectInjury</ion-title>
      </ion-navbar>
    
    </ion-header>
    


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let friend of friends">
      <ion-item>
        <ion-icon name="checkmark" *ngIf="friend?.danger === 'no'" class="status-icon"></ion-icon>
        <ion-icon name="alert" *ngIf="friend?.danger === 'yes'" class="status-icon"></ion-icon>
        <ion-icon name="help" *ngIf="friend?.danger === 'maybe'" class="status-icon"></ion-icon>
        {{friend?.name}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="remove(friend)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right (click)="addFriend()">
    <button tappable color="primary" ion-fab>
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
