<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Last known location</ion-title>
  </ion-navbar>

</ion-header>

F
<ion-content>
  <div #map id="map" style="height: 50%"></div>
  <div class="box" style="height: 50%;">

    <div class="box__top">
      <span class="top__time">12:57</span>
      <span class="top__duration">duration</span>
    </div>

    <div class="box__bottom">
      <div class="bottom__left">
        <span class="left__amp">max amplitude</span>
        <span class="left__val">303m</span>
      </div>
      <div class="bottom__right">
        <span class="right__vel">max amplitude</span>
        <span class="right__val">303m</span>
      </div>
    </div>

  </div>


</ion-content>