page-summary {
    .content {
        padding: 5pt;
    }
    .marker {
        border-radius: 50%;
        box-shadow: 0 0 10px 0 #c2c2c2;
        object-fit: cover;
        background-size: 100%;
    }
    .box {
        flex-direction: column;
        display: flex;
        width: 100%;
        align-items: center;
        margin: 8pt;
        border-radius: 5pt;
        border: solid 1px rgba(57, 57, 57, .3);
        background: rgba(57, 57, 57, .1);
        &__top {}
        &__bottom {}
    }
    .top {
        &__duration {}
        &__time {}
    }
}