page-add-friend {
  .wrapper {
    //height: 50px;
    //margin-top: 35vh;
    margin-top: 180px;
  }

  h1, input {
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    margin-bottom: 20px;
    color: #444;
    font-size: 20px;
    font-weight: 100;
  }

  ion-input {
    border-bottom: 1px solid #f2f2f2;
    width: 70%;
    margin: 0 auto;

  }
}
