<ion-header>
    
      <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>DetectInjury</ion-title>
      </ion-navbar>
    
    </ion-header>
    


<ion-content padding>

  <div class="wrapper">
    <h1>Enter Your friend name:</h1>
    <ion-input type="text" placeholder="Your friend name"></ion-input>
  </div>

  <ion-fab bottom left (click)="back()">
    <button tappable color="danger" ion-fab>
      <ion-icon name="md-close"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom right (click)="addFriend()">
    <button tappable color="primary" ion-fab>
      <ion-icon name="md-checkmark"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
